body {	 
	background-image: url("mount.JPG");
	}

h1 {
	color: blue;
	margin: 50px 370px;
	
}

#game {
	width: 300px;
	height: 300px;
	position: relative;
	border: 1px solid blue;
	text-align: center;
	margin: 50px 300px;
	}

p {
	
	font-size: 20px;
	font-weight: bold;

}