body {	 
	background-image: url("../images/everest.jpg");
	background-size: cover;
	}

h1 {
	color: navy;
	margin: 50px 170px;
	
}

#game {
	width: 300px;
	height: 300px;
	position: relative;
	border: 3px solid blue;
	text-align: center;
	margin: 70px 100px;
	backface-visibility: 50%;
	
	}

p {
	
	font-size: 20px;
	font-weight: bold;
	color: navy;


}